.item {
    padding: 20px 30px;
    display: flex;
    margin-bottom: 40px;
    width: 250px;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 3px 18px 2px rgba(54, 2, 46, 0.66);
    background-color:rgba(48, 174, 206, 0.66)
  }
  .name {
    width: 60px;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
  }
  .online {
    margin-right: 15px;
    height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 50%;
  }
  .ofline {
    margin-right: 15px;
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
  }