.transactionHistory {
  background: #a6e4a9;
  border-collapse: collapse;
  text-align: center;
  width: 500px;
  margin: 0 auto;
  border-radius:  23px;
  margin-top: 40px;
}


.transactionHistory th {
  box-shadow: inset 0 1px 0 #999999, inset 0 -1px 0 #999999;
  background: linear-gradient(#5e5ea7, #5a567f);
  color: white;
  padding: 10px 15px;
  position: relative;
  border-radius:  50px;
}

.transactionHistory th:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 25%;
  height: 25%;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0.08));
}

.transactionHistoryr tr:nth-child(odd) {
  background: #ebf3f9;
}

.transactionHistory th:first-child {
  box-shadow: inset 1px 1px 0 #999999, inset 0 -1px 0 #999999;
}

.transactionHistoryr th:last-child {
  box-shadow: inset -1px 1px 0 #999999, inset 0 -1px 0 #999999;
}

.transactionHistoryr td {
  border: 1px solid #e3eef7;
  padding: 10px 15px;
  position: relative;
  transition: all 0.5s ease;
}

.transactionHistory tbody:hover td {
  color: transparent;
  text-shadow: 0 0 3px #a09f9d;
}

.transactionHistory tbody:hover tr:hover td {
  color: #fa0808;
  text-shadow: none;
}

